@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard Black"),
    url(/assets/fonts/woff2/Pretendard-Black.woff2) format("woff2"),
    url(/assets/fonts/woff/Pretendard-Black.woff) format("woff"),
    url(/assets/fonts/ttf/Pretendard-Black.ttf) format("truetype"),
    url(/assets/fonts/otf/Pretendard-Black.otf) format("opentype");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"),
    url(/assets/fonts/woff2/Pretendard-ExtraBold.woff2) format("woff2"),
    url(/assets/fonts/woff/Pretendard-ExtraBold.woff) format("woff"),
    url(/assets/fonts/ttf/Pretendard-ExtraBold.ttf) format("truetype"),
    url(/assets/fonts/otf/Pretendard-ExtraBold.otf) format("opentype");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"),
    url(/assets/fonts/woff2/Pretendard-Bold.woff2) format("woff2"),
    url(/assets/fonts/woff/Pretendard-Bold.woff) format("woff"),
    url(/assets/fonts/ttf/Pretendard-Bold.ttf) format("truetype"),
    url(/assets/fonts/otf/Pretendard-Bold.otf) format("opentype");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"),
    url(/assets/fonts/woff2/Pretendard-SemiBold.woff2) format("woff2"),
    url(/assets/fonts/woff/Pretendard-SemiBold.woff) format("woff"),
    url(/assets/fonts/ttf/Pretendard-SemiBold.ttf) format("truetype"),
    url(/assets/fonts/otf/Pretendard-SemiBold.otf) format("opentype");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"),
    url(/assets/fonts/woff2/Pretendard-Medium.woff2) format("woff2"),
    url(/assets/fonts/woff/Pretendard-Medium.woff) format("woff"),
    url(/assets/fonts/ttf/Pretendard-Medium.ttf) format("truetype"),
    url(/assets/fonts/otf/Pretendard-Medium.otf) format("opentype");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"),
    url(/assets/fonts/woff2/Pretendard-Regular.woff2) format("woff2"),
    url(/assets/fonts/woff/Pretendard-Regular.woff) format("woff"),
    url(/assets/fonts/ttf/Pretendard-Regular.ttf) format("truetype"),
    url(/assets/fonts/otf/Pretendard-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"),
    url(/assets/fonts/woff2/Pretendard-Light.woff2) format("woff2"),
    url(/assets/fonts/woff/Pretendard-Light.woff) format("woff"),
    url(/assets/fonts/ttf/Pretendard-Light.ttf) format("truetype"),
    url(/assets/fonts/otf/Pretendard-Light.otf) format("opentype");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard ExtraLight"),
    url(/assets/fonts/woff2/Pretendard-ExtraLight.woff2) format("woff2"),
    url(/assets/fonts/woff/Pretendard-ExtraLight.woff) format("woff"),
    url(/assets/fonts/ttf/Pretendard-ExtraLight.ttf) format("truetype"),
    url(/assets/fonts/otf/Pretendard-ExtraLight.otf) format("opentype");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"),
    url(/assets/fonts/woff2/Pretendard-Thin.woff2) format("woff2"),
    url(/assets/fonts/woff/Pretendard-Thin.woff) format("woff"),
    url(/assets/fonts/ttf/Pretendard-Thin.ttf) format("truetype"),
    url(/assets/fonts/otf/Pretendard-Thin.otf) format("opentype");
}

@font-face {
  font-family: "NotoSansJP";
  font-weight: 900;
  font-display: swap;
  src: local("NotoSansJP Black"),
    url(/assets/fonts/ttf/NotoSansJP-Black.ttf) format("truetype");
}

@font-face {
  font-family: "NotoSansJP";
  font-weight: 800;
  font-display: swap;
  src: local("NotoSansJP ExtraBold"),
    url(/assets/fonts/ttf/NotoSansJP-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: "NotoSansJP";
  font-weight: 700;
  font-display: swap;
  src: local("NotoSansJP Bold"),
    url(/assets/fonts/ttf/NotoSansJP-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "NotoSansJP";
  font-weight: 600;
  font-display: swap;
  src: local("NotoSansJP SemiBold"),
    url(/assets/fonts/ttf/NotoSansJP-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "NotoSansJP";
  font-weight: 500;
  font-display: swap;
  src: local("NotoSansJP Medium"),
    url(/assets/fonts/ttf/NotoSansJP-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "NotoSansJP";
  font-weight: 400;
  font-display: swap;
  src: local("NotoSansJP Regular"),
    url(/assets/fonts/ttf/NotoSansJP-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "NotoSansJP";
  font-weight: 300;
  font-display: swap;
  src: local("NotoSansJP Light"),
    url(/assets/fonts/ttf/NotoSansJP-Light.ttf) format("truetype");
}

@font-face {
  font-family: "NotoSansJP";
  font-weight: 200;
  font-display: swap;
  src: local("NotoSansJP ExtraLight"),
    url(/assets/fonts/ttf/NotoSansJP-ExtraLight.ttf) format("truetype");
}

@font-face {
  font-family: "NotoSansJP";
  font-weight: 100;
  font-display: swap;
  src: local("NotoSansJP Thin"),
    url(/assets/fonts/ttf/NotoSansJP-Thin.ttf) format("truetype");
}
