html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  @media (max-width: 1024px) {
    font-size: 14px;
  }

  @media (max-width: 768px) {
    font-size: 12px;
  }

  @media (max-width: 480px) {
    font-size: 10px;
  }
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

span,
p,
a {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  line-height: normal;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Pretendard", sans-serif;
  /* 스크롤바 스타일 */
}

::-webkit-scrollbar {
  width: 8px; /* 스크롤바 너비 */
}

::-webkit-scrollbar-track {
  background: var(--background-color); /* 트랙 배경색 */
  border-radius: 10px; /* 둥근 모서리 */
}

::-webkit-scrollbar-thumb {
  background-color: var(--text-secondary-color); /* 더 밝은 스크롤바 색상 */
  border-radius: 10px; /* 둥근 모서리 */
  border: 2px solid var(--background-color); /* 스크롤바와 트랙 사이의 간격 */
}

*::-webkit-scrollbar-button {
  display: none; /* 위아래 화살표 숨기기 */
}

.toggle_label {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  box-sizing: border-box;

  .toggle_input {
    appearance: none;
    position: relative;
    border: max(2px, 0.1em) solid gray;
    border-radius: 1.25em;
    width: 2.25em;
    height: 1.25em;
    box-sizing: border-box;

    &::before,
    &::after {
      box-sizing: border-box;
    }

    &:hover {
      cursor: pointer;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      transform: scale(0.8);
      background-color: gray;
      transition: left 250ms linear;
    }

    &:checked {
      background-color: var(--blue-500);
      border-color: var(--blue-500);
    }

    &:checked::before {
      background-color: white;
      left: 1em;
    }

    &:disabled {
      border-color: lightgray;
      opacity: 0.7;
      cursor: not-allowed;
    }

    &:disabled::before {
      background-color: lightgray;
    }

    &:disabled + span {
      opacity: 0.7;
      cursor: not-allowed;
    }

    &:focus-visible {
      outline-offset: max(2px, 0.1em);
      outline: max(2px, 0.1em) solid var(--blue-500);
    }

    &:enabled:hover {
      box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
    }
  }
}
