html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  @media (max-width: 1024px) {
    font-size: 14px;
  }

  @media (max-width: 768px) {
    font-size: 12px;
  }

  @media (max-width: 480px) {
    font-size: 10px;
  }
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

span,
p,
a {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  line-height: normal;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Pretendard", sans-serif;
  /* 스크롤바 스타일 */
}

::-webkit-scrollbar {
  width: 8px; /* 스크롤바 너비 */
}

::-webkit-scrollbar-track {
  background: var(--background-color); /* 트랙 배경색 */
  border-radius: 10px; /* 둥근 모서리 */
}

::-webkit-scrollbar-thumb {
  background-color: var(--text-secondary-color); /* 더 밝은 스크롤바 색상 */
  border-radius: 10px; /* 둥근 모서리 */
  border: 2px solid var(--background-color); /* 스크롤바와 트랙 사이의 간격 */
}

*::-webkit-scrollbar-button {
  display: none; /* 위아래 화살표 숨기기 */
}
